*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#34495e;
    overflow:hidden;
    height:100%;
    width:100%;  
}
.top-section{
    margin-block:30px;
    text-align: center;
}
.top-section p{
    color:white;
   
    font-size: 3rem;
    text-transform: capitalize;
}

.main-section{
    padding-inline:40px;
    text-align: center;
}
.main-section .textarea{
    height:50vh;
    width:90%;
}
.main-section p{
    margin-top:50px;
    margin-bottom: 20px;
    font-size:2rem;
    color:lightgreen;
}
.main-section .textarea{
    font-size:2rem;
    outline:none;
    padding:20px 30px;
    box-shadow: 0 0 15px white;
    border-radius: 20px;
}
.main-section .btn button{
    padding:10px 70px;
    margin-block:30px;
    cursor: pointer;
    font-size: 1.2rem;
    border:none;
    border-radius: 20px;
}
.mainheading{
    display:none;
}
